page-launcher {


}
.toolbar-title-md{
  padding: 0 12px;
  font-size: 2.5rem;
  font-weight: 600 ;
  color: #424242;
  font-family: cursive;
  text-align: center;
}
.iframe-container{
  height: 100%;
  width: 100%;
  border: 0px;
}
.logo-header {
        height: 30px;
        margin-top: 6px;
    }
